{% extends 'RCWebBundle::page.html.twig' %}

{% block content %}
    <div id="header">
        {% block header %}
            HEADER
        {% endblock %}
    </div>

    <div id="sidebar">
        {% block sideBar %}
            SIDEBAR
        {% endblock %}
    </div>

    <div id="maincontent">
        {% block mainContent %}
            MAINCONTENT
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            FOOTER
        {% endblock %}
    </div>
{% endblock %}